<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="fr">
<div th:include="bootstrapcdn.html"/>
<head>
    <meta charset="utf-8">
    <title>Bibliothèque P7</title>
</head>

<body>

<!-- nav bar -->
<div th:include="navbar"/>


<div class="container">
    <!-- corps de la page Topos -->

    <div class="row" id="bandeau0">

        <div class="col-md-12">

            <h1>Bienvenu(e) <span th:text="${membre.getPrenom()}" /> <span th:text="${membre.getNom()}" /></h1>
        </div>
    </div>

    <div class="row">

           <h2>Mes emprunts en cours</h2>

            <table style="margin-top: 10px" class="table">
                <thead>
                <tr><th>Livre</th>

                    <th>Date d'emprunt</th>
                    <th>Date limite de retour</th>
                    <th>Rendu</th>
                    <th>Prolongé</th>


                </tr></thead>
                <tbody>
<!--                <tr  th:each="ligneE : ${empruntList}">-->
<!--                    <td th:text="${ligneE.getTopo().getNom()}">Nom Topo</td>-->


<!--                    <td><a th:href="'topoDetails?topoId=' + ${ligneE.getTopo().getId()}" >-->
<!--                        <i class="fas fa-search"></i>-->
<!--                        </span>-->
<!--                    </a></td>-->

<!--                    <td th:text="${ligneE.joursRestants(ligneE.getDateFinEmprunt())}">Jours</td>-->
<!--                    <td><a th:href="'empruntRestituer?topoId=' + ${ligneE.getTopo().getId()}">-->
<!--                        <i class="fas fa-hand-paper"></i>-->
<!--                    </a>-->
<!--                </tr>-->
                </tbody>
            </table>


        </div>
    </div>
    <br>
</div>

</div>
</body>
<div th:include="jscdn.html"/>
</html>