<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="bootstrapcdn.html"/>
    <meta charset="utf-8">
    <title>Bibliothèque P7 - OpenClassRooms - Parcours DA Java - Projet 7</title>
</head>
<body>

<div th:include="navbar.html"/>

<div class="container">

    <div class="row">
        <div class="text-center">

            <h1>Bienvenue sur le site de votre bibliothèque !</h1>

            <h3>Une version ReactJS de cette API est disponible <a href="http://vps671888.ovh.net:3000/login">ICI</a>
            </h3>
        </div>

        <div th:if="${connexion == 'OK'}">

            <p>Vous êtes à présent connecté</p>
            <p>Votre token est : <span th:text="${token}"></span></p>


        </div>


    </div>
</div>

</body>

</html>