<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">Tableau de bord</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/recherche">Rechercher un Ouvrage</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/signIn">Se Connecter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signUp">S'enregistrer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Se déconnecter</a>
        </li>
    </ul>

</nav>
